snippet . "selector { }"
	${1} {
		${2:${VISUAL}}
	}${0}
endsnippet

snippet bg
	background: ${1};${0}
endsnippet

snippet d:g
	display: grid;
endsnippet

snippet d:f
	display: flex;
endsnippet

snippet :h
	:hover
endsnippet

snippet :a
	::after
endsnippet

snippet :b
	::before
endsnippet
